<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxing Shop | Success</title>
    <link rel="stylesheet" href="/success.css">
</head>

<body>
    <div class="container">
        <?xml version="1.0" encoding="utf-8"?>
        <svg width="300px" height="300px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M24 4L29.2533 7.83204L35.7557 7.81966L37.7533 14.0077L43.0211 17.8197L41 24L43.0211 30.1803L37.7533 33.9923L35.7557 40.1803L29.2533 40.168L24 44L18.7467 40.168L12.2443 40.1803L10.2467 33.9923L4.97887 30.1803L7 24L4.97887 17.8197L10.2467 14.0077L12.2443 7.81966L18.7467 7.83204L24 4Z"
                fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M17 24L22 29L32 19" stroke="white" stroke-width="4" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
        <h1>Success purchase !</h1>
        <p>We received your purchase request;<br /> we'll be in touch shortly!</p>
        <hr>
        <a style="--clr: #7808d0" class="button" href="http://localhost:5173">
            <span class="button__icon-wrapper">
                <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 15">
                    <path fill="currentColor"
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                    </path>
                </svg>

                <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10"
                    fill="none" viewBox="0 0 14 15">
                    <path fill="currentColor"
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                    </path>
                </svg>
            </span>
            Redirect to home
        </a>
    </div>
</body>

</html>