<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxing Shop | Success</title>
    <link rel="stylesheet" href="/success.css">
</head>

<body>
    <div class="container">
        <img class="img-mp" src='/mercado-pago-logo.webp' alt="">
        <h1>Success purchase !</h1>
        <p>We received your purchase request;<br /> we'll be in touch shortly!</p>
        <hr>
        <a style="--clr: #7808d0" class="button" href="http://localhost:5173">
            <span class="button__icon-wrapper">
                <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 15">
                    <path fill="currentColor"
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                    </path>
                </svg>

                <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10"
                    fill="none" viewBox="0 0 14 15">
                    <path fill="currentColor"
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                    </path>
                </svg>
            </span>
            Redirect to home
        </a>
    </div>
</body>

</html>