<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxing Shop | Success</title>
    <link rel="stylesheet" href="/success.css">
</head>

<body>
    <div class='container-terms'>
        <strong class='my-4'>Términos y Condiciones de Uso - Plataforma de Comercio Electrónico de Prueba</strong>

        <span class='font-bold text-xl my-2'>1</span>
        <p class=' sm:text-md'>Al acceder y utilizar esta plataforma de comercio electrónico de prueba, aceptas
            cumplir con los siguientes términos y condiciones. <br /> Si no estás de acuerdo con alguna parte de estos
            términos, por favor, no utilices la plataforma.
            Servicios de Prueba:</p>

        <span class='font-bold text-xl my-2'>2</span>
        <p class=''>Esta plataforma se proporciona únicamente con fines de prueba y demostración.
            No se realizan transacciones financieras reales,  <br /> y ningún producto o servicio real está disponible para su
            compra.
            Responsabilidades del Usuario:</p>


        <span class='font-bold text-xl my-2'>3</span>
        <p clas=' sm:text-md'>Los usuarios deben utilizar la plataforma de manera ética y legal. Se prohíben
            actividades fraudulentas,  <br /> maliciosas o que violen cualquier ley aplicable.
            Propiedad Intelectual:</p>


        <span class='font-bold text-xl my-2'>4</span>
        <p class=' sm:text-md'>Todos los derechos de propiedad intelectual relacionados con la plataforma y su
            contenido <br /> son propiedad exclusiva del titular de la plataforma.
            Información del Usuario:</p>


        <span class='font-bold text-xl my-2'>5</span>
        <p class=' sm:text-md'>La plataforma no recopila ni almacena información personal real. Cualquier
            información proporcionada durante el uso de la plataforma <br />  se considera ficticia y no se utilizará con fines
            comerciales.
            Sin Transacciones Financieras Reales:</p>



        <span class='font-bold text-xl my-2'>6</span>
        <p class=' sm:text-md'>Ninguna transacción financiera realizada en la plataforma es real. <br /> No se
            procesarán pagos ni se enviarán productos o servicios reales.
            Sin Garantías:</p>


        <span class='font-bold text-xl my-2'>7</span>
        <p clase=' sm:text-md'>La plataforma se proporciona "tal cual" sin garantía de ningún tipo, ya sea expresa o
            implícita. El titular de la plataforma no garantiza la <br /> disponibilidad, exactitud o idoneidad  de la
            plataforma para un propósito particular.
            Cambios en los Términos:</p>


        <span class='font-bold text-xl my-2'>8</span>
        <p class=' sm:text-md'>El titular de la plataforma se reserva el derecho de actualizar o cambiar estos
            términos en cualquier momento. <br /> Se notificarán los cambios significativos.
            Limitación de Responsabilidad:</p>


        <span class='font-bold text-xl my-2'>9</span>
        <p class=' sm:text-md'>El titular de la plataforma no será responsable de ningún daño directo, indirecto,
            incidental, especial o consecuente <br /> que pueda surgir del uso o la imposibilidad de uso de la
            plataforma.
            Ley Aplicable: </p>


        <span class='font-bold text-xl my-2'>10</span>
        <p class='sm:text-md'>Estos términos y condiciones se rigen por las leyes del lugar donde reside el titular
            de la plataforma.</p>
    </div>
</body>

</html>